/* src/Navbar.css */

nav {
  display: flex; /* Aligns items in a row */
  justify-content: space-between; /* Positions logo and links on opposite ends */
  align-items: center; /* Centers items vertically */
  padding: 0 2vh; /* Adds padding on the left and right */
  background-color: #070707; /* Background color */
  height: 11vh; /* Adjust height for thicker navbar */
}

.logo img {
  height: 7vh;
  max-height: 100%; /* Ensures logo does not exceed navbar height */
  width: auto; /* Maintains aspect ratio */
  padding: 0 3vh; /* Adjusted padding to ensure logo doesn't touch the edges */
}


.nav-links {
  list-style-type: none; /* Removes bullet points from list */
  margin: 0;
  padding: 0;
  display: flex; /* Displays links in a row */
}

.nav-links li {
  padding: 0 3vh /* Space between links */
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.nav-links li a:hover {
  color: #9ce5f1;
}

@media (max-width: 768px) {
  .logo img {
      height: 5vh; /* Smaller height for smaller screens */
      padding: 0 1vh;
  }
}